@import url("https://fonts.cdnfonts.com/css/poppins");
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Poppins";
}

html body header {
  width: 89.583%;
  height: 0;
  padding: 40px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header .left,
html body header .right {
  display: flex;
  align-items: center;
}
html body header .left img,
html body header .right img {
  user-select: none;
}
html body header .left img:hover,
html body header .right img:hover {
  cursor: pointer;
}
html body header .left span,
html body header .right span {
  user-select: none;
}
html body header .left span:hover,
html body header .right span:hover {
  cursor: pointer;
}
html body header .left img {
  padding: 1.5px 3.75px;
  margin-right: 4px;
}
html body header .left span {
  font-size: 16px;
  font-weight: 600;
}
html body header .right #before-log-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  background: none;
}
html body header .right #before-log-in img {
  padding: 2px 0px;
  padding-left: 3.39px;
  padding-right: 3.38px;
  margin: 1px 0px;
  margin-right: 8px;
}
html body header .right #before-log-in span {
  font-size: 12px;
  font-weight: 500;
}
html body header .right #before-log-in:hover {
  cursor: pointer;
}
html body header .right #after-log-in {
  display: none;
  justify-content: space-between;
  align-items: center;
}
html body header .right #after-log-in #cart-symbol {
  padding: 2.25px 0px;
  padding-left: 1.5px;
  padding-right: 1.61px;
  margin-right: 20px;
}
html body header .right #after-log-in #cart-symbol:hover {
  cursor: pointer;
}
html body header .right #after-log-in .profile-picture-after-log-in {
  padding: 16px;
  border: 1px solid #e1dfe1;
  border-radius: 50%;
  background-image: url("./images/cameraIcon.svg");
  background-position: center;
  background-repeat: no-repeat;
}
html body header .right #after-log-in .profile-picture-after-log-in:hover {
  cursor: pointer;
}
html body header .right #after-log-in .dropdownIcon {
  padding: 0px 5px;
  padding-top: 8px;
  padding-bottom: 6.25px;
  margin-left: 4px;
}
html body header .right #after-log-in .dropdownIcon:hover {
  cursor: pointer;
}
html body main .indicators {
  width: 89.583%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 72px;
  margin-bottom: 6px;
}
html body main .indicators .left,
html body main .indicators .right {
  display: flex;
  align-items: center;
}
html body main .indicators .left img,
html body main .indicators .left span,
html body main .indicators .right img,
html body main .indicators .right span {
  user-select: none;
}
html body main .indicators .left span {
  font-size: 42px;
  font-weight: 600;
}
html body main .indicators .right .product-number-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0px;
}
html body main .indicators .right .product-number-indicator span {
  font-size: 12px;
  font-weight: 400;
  margin: 2px 0px;
}
html body main .indicators .right .grey-vertical-line {
  margin: 5px 32px;
}
html body main .indicators .right .grey-vertical-line:hover {
  cursor: none;
}
html body main .indicators .right #filtering {
  position: relative;
  display: flex;
  align-items: center;
}
html body main .indicators .right #filtering .filter-icon {
  margin: 4.5px 3.75px;
}
html body main .indicators .right #filtering .filter {
  margin-left: 8px;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 400;
}
html body main .indicators .right #filtering #price-filter {
  position: absolute;
  top: 32px;
  right: 16px;
  display: none;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #e1dfe1;
  border-radius: 8px;
  background-color: white;
  user-select: none;
}
html body main .indicators .right #filtering #price-filter p {
  font-size: 16px;
  font-weight: 600;
}
html body main .indicators .right #filtering #price-filter .inputs {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container,
html body main .indicators .right #filtering #price-filter .inputs .price-to-container {
  position: relative;
  width: 50%;
  display: flex;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container input,
html body main .indicators .right #filtering #price-filter .inputs .price-to-container input {
  outline: none;
  padding: 10.5px 12px;
  border: 1px solid #e1dfe1;
  border-radius: 8px;
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container input::-webkit-outer-spin-button,
html body main .indicators .right #filtering #price-filter .inputs .price-from-container input::-webkit-inner-spin-button,
html body main .indicators .right #filtering #price-filter .inputs .price-to-container input::-webkit-outer-spin-button,
html body main .indicators .right #filtering #price-filter .inputs .price-to-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container input::placeholder,
html body main .indicators .right #filtering #price-filter .inputs .price-to-container input::placeholder {
  color: #3e424a;
  font-size: 14px;
  font-weight: 400;
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container .fake-placeholder,
html body main .indicators .right #filtering #price-filter .inputs .price-to-container .fake-placeholder {
  position: absolute;
  top: 10.5px;
  color: #ff4000;
  font-size: 14px;
  font-weight: 400;
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container {
  margin-right: 10px;
}
html body main .indicators .right #filtering #price-filter .inputs .price-from-container .fake-placeholder {
  left: 52px;
}
html body main .indicators .right #filtering #price-filter .inputs .price-to-container .fake-placeholder {
  left: 33px;
}
html body main .indicators .right #filtering #price-filter .apply {
  display: flex;
  justify-content: end;
  align-items: center;
}
html body main .indicators .right #filtering #price-filter .apply #apply-button {
  width: 34.4%;
  padding: 10px 20px;
  background-color: #ff4000;
  border: none;
  border-radius: 10px;
  outline: none;
}
html body main .indicators .right #filtering #price-filter .apply #apply-button .apply-button-text {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
html body main .indicators .right #filtering #price-filter .apply #apply-button:hover {
  cursor: pointer;
}
html body main .indicators .right #filtering #price-filter:hover {
  cursor: auto;
}
html body main .indicators .right #sorting {
  position: relative;
  display: flex;
  align-items: center;
}
html body main .indicators .right #sorting .sorting-indicator {
  margin: 2px 0px;
  margin-right: 4px;
  font-size: 16px;
  font-weight: 400;
}
html body main .indicators .right #sorting .dropdown-icon {
  margin: 0px 5px;
  margin-top: 10px;
  margin-bottom: 8.25px;
}
html body main .indicators .right #sorting #sorting-filter {
  position: absolute;
  top: 34px;
  right: -5px;
  width: 223px;
  display: none;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #e1dfe1;
  border-radius: 8px;
  background-color: white;
  user-select: none;
}
html body main .indicators .right #sorting #sorting-filter p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
html body main .indicators .right #sorting #sorting-filter span {
  padding: 8px 0px;
}
html body main .indicators .right #sorting #sorting-filter p:hover,
html body main .indicators .right #sorting #sorting-filter span:hover {
  cursor: pointer;
}
html body main .indicators .right #sorting #sorting-filter:hover {
  cursor: auto;
}
html body main .indicators .right #filtering:hover,
html body main .indicators .right #sorting:hover {
  cursor: pointer;
}
html body main #chosen-filters {
  width: 89.583%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 13px;
}
html body main #chosen-filters .chosen-filter {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  padding-left: 16px;
  padding-right: 10px;
  margin-left: 8px;
  border: 1px solid #e1dfe1;
  border-radius: 50px;
}
html body main #chosen-filters .chosen-filter .chosen-filter-text {
  margin-right: 6px;
  color: #3e424a;
  font-weight: 400;
  font-size: 14px;
}
html body main #chosen-filters .chosen-filter .delete-sign {
  padding: 2.63px 2.62px;
}
html body main #chosen-filters .chosen-filter .delete-sign:hover {
  cursor: pointer;
}
html body main #chosen-filters .chosen-filter:nth-child(1) {
  margin-left: 0px;
}
html body main .products {
  width: 89.583%;
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 48px 24px;
  margin: auto;
  margin-top: 26px;
}
html body main .products .product {
  display: flex;
  flex-direction: column;
}
html body main .products .product .top {
  border-radius: 10px;
  padding: 274.5px 206px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html body main .products .product .bottom p {
  font-weight: 500;
}
html body main .products .product .bottom .product-name {
  margin-top: 12px;
  font-size: 18px;
}
html body main .products .product .bottom .price {
  font-size: 16px;
}
html body main .products .product:hover {
  cursor: pointer;
}
html body main .pagination-container {
  width: 89.583%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 216px;
}
html body main .pagination-container .pagination {
  display: flex;
  align-items: center;
}
html body main .pagination-container .pagination img {
  padding: 10px;
}
html body main .pagination-container .pagination #arrow-left {
  margin-right: 8px;
}
html body main .pagination-container .pagination #arrow-right {
  margin-left: 8px;
}
html body main .pagination-container .pagination span {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f8f6f7;
  color: #7a8086;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}
html body main .pagination-container .pagination .page:nth-child(3) {
  margin: 0px 8px;
}
html body main .pagination-container .pagination .page:nth-child(5) {
  margin: 0px 8px;
}
html body main .pagination-container .pagination .active-page {
  border: 1px solid #ff4000;
  color: #ff4000;
}
html body main .pagination-container .pagination img:hover,
html body main .pagination-container .pagination span:hover {
  cursor: pointer;
}
html body main .authorization {
  display: flex;
  user-select: none;
}
html body main .authorization .left {
  width: 49.375%;
  padding: 500px 0px;
  background-image: url("./images/modelsWalking.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html body main .authorization .right {
  width: 50.625%;
  display: flex;
}
html body main .authorization .right #log-in {
  width: 56.9958847737%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 241px;
  margin-left: 173px;
  margin-right: 245px;
  margin-bottom: 408px;
}
html body main .authorization .right #log-in .log-in-header {
  width: 100%;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 48px;
}
html body main .authorization .right #log-in .input-container .email-username-container,
html body main .authorization .right #log-in .input-container .password-container {
  position: relative;
}
html body main .authorization .right #log-in .input-container .email-username-container .fake-placeholder,
html body main .authorization .right #log-in .input-container .password-container .fake-placeholder {
  position: absolute;
  top: 6.5px;
  color: #ff4000;
}
html body main .authorization .right #log-in .input-container .email-username-container input,
html body main .authorization .right #log-in .input-container .password-container input {
  width: 100%;
  height: 42px;
  padding: 0px 12px;
  outline: none;
  border: 0.1rem solid #e1dfe1;
  border-radius: 8px;
}
html body main .authorization .right #log-in .input-container .email-username-container input::placeholder,
html body main .authorization .right #log-in .input-container .password-container input::placeholder {
  color: #3e424a;
  font-size: 14px;
  font-weight: 400;
}
html body main .authorization .right #log-in .input-container .email-username-container .fake-placeholder {
  left: 148px;
}
html body main .authorization .right #log-in .input-container .password-container {
  margin-top: 24px;
}
html body main .authorization .right #log-in .input-container .password-container .fake-placeholder {
  left: 83px;
}
html body main .authorization .right #log-in .input-container .password-container .password {
  padding-right: 44px;
}
html body main .authorization .right #log-in .input-container .password-container .password::-ms-reveal,
html body main .authorization .right #log-in .input-container .password-container .password::-ms-clear {
  display: none;
}
html body main .authorization .right #log-in .input-container .password-container .eye-icon {
  position: absolute;
  padding: 3.75px 1.65px;
  right: 12px;
  top: 10px;
}
html body main .authorization .right #log-in .input-container .password-container .eye-icon:hover {
  cursor: pointer;
}
html body main .authorization .right #log-in .error-message {
  margin-top: 8px;
  font-size: 14px;
}
html body main .authorization .right #log-in .error-message p {
  color: #ff4000;
}
html body main .authorization .right #log-in .log-in-button {
  width: 100%;
  height: 41px;
  padding: 10px 20px;
  margin-top: 46px;
  margin-bottom: 24px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ff4000;
}
html body main .authorization .right #log-in .log-in-button .log-in-button-text {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
html body main .authorization .right #log-in .log-in-button:hover {
  cursor: pointer;
}
html body main .authorization .right #log-in .redirection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .authorization .right #log-in .redirection span {
  font-size: 14px;
}
html body main .authorization .right #log-in .redirection .not-member {
  margin-right: 4px;
  font-weight: 400;
}
html body main .authorization .right #log-in .redirection .registration-url {
  margin-left: 4px;
  font-weight: 500;
  color: #ff4000;
}
html body main .authorization .right #log-in .redirection .registration-url {
  cursor: pointer;
}
html body main .authorization .right #registration {
  width: 56.9958847737%;
  display: none;
  flex-direction: column;
  margin-top: 152px;
  margin-left: 173px;
  margin-right: 245px;
  margin-bottom: 219px;
}
html body main .authorization .right #registration .registration-header {
  font-size: 42px;
  font-weight: 600;
}
html body main .authorization .right #registration .picture-container {
  margin-top: 48px;
  margin-bottom: 46px;
}
html body main .authorization .right #registration .picture-container .file-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
html body main .authorization .right #registration .picture-container .file-input-wrapper #profile-picture {
  border-radius: 50%;
  padding: 50px;
  background-image: url("./images/camera.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html body main .authorization .right #registration .picture-container .file-input-wrapper #file-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
html body main .authorization .right #registration .picture-container .file-input-wrapper .upload-new-image {
  display: flex;
  margin: 0px 15px;
  font-size: 14px;
}
html body main .authorization .right #registration .picture-container .file-input-wrapper .remove-image {
  font-size: 14px;
}
html body main .authorization .right #registration .picture-container .file-input-wrapper .upload-new-image,
html body main .authorization .right #registration .picture-container .file-input-wrapper .remove-image {
  cursor: pointer;
}
html body main .authorization .right #registration .input-container {
  display: flex;
  flex-direction: column;
}
html body main .authorization .right #registration .input-container .username-input-container,
html body main .authorization .right #registration .input-container .email-input-container,
html body main .authorization .right #registration .input-container .password-input-container,
html body main .authorization .right #registration .input-container .confirm-password-input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
html body main .authorization .right #registration .input-container .username-input-container .fake-placeholder,
html body main .authorization .right #registration .input-container .email-input-container .fake-placeholder,
html body main .authorization .right #registration .input-container .password-input-container .fake-placeholder,
html body main .authorization .right #registration .input-container .confirm-password-input-container .fake-placeholder {
  position: absolute;
  top: 6.5px;
  color: #ff4000;
}
html body main .authorization .right #registration .input-container .username-input-container input,
html body main .authorization .right #registration .input-container .email-input-container input,
html body main .authorization .right #registration .input-container .password-input-container input,
html body main .authorization .right #registration .input-container .confirm-password-input-container input {
  width: 100%;
  height: 42px;
  padding: 0px 12px;
  margin-bottom: 24px;
  outline: none;
  border: 0.1rem solid #e1dfe1;
  border-radius: 8px;
}
html body main .authorization .right #registration .input-container .username-input-container input::placeholder,
html body main .authorization .right #registration .input-container .email-input-container input::placeholder,
html body main .authorization .right #registration .input-container .password-input-container input::placeholder,
html body main .authorization .right #registration .input-container .confirm-password-input-container input::placeholder {
  color: #3e424a;
  font-size: 14px;
  font-weight: 400;
}
html body main .authorization .right #registration .input-container .username-input-container .fake-placeholder {
  left: 86px;
}
html body main .authorization .right #registration .input-container .email-input-container .fake-placeholder {
  left: 52px;
}
html body main .authorization .right #registration .input-container .password-input-container .password,
html body main .authorization .right #registration .input-container .confirm-password-input-container .password {
  padding-right: 44px;
}
html body main .authorization .right #registration .input-container .password-input-container .eye-icon,
html body main .authorization .right #registration .input-container .confirm-password-input-container .eye-icon {
  position: absolute;
  padding: 3.75px 1.65px;
  right: 12px;
  top: 10px;
}
html body main .authorization .right #registration .input-container .password-input-container .eye-icon:hover,
html body main .authorization .right #registration .input-container .confirm-password-input-container .eye-icon:hover {
  cursor: pointer;
}
html body main .authorization .right #registration .input-container .password-input-container .password-input::-ms-reveal,
html body main .authorization .right #registration .input-container .password-input-container .password-input::-ms-clear {
  display: none;
}
html body main .authorization .right #registration .input-container .password-input-container .fake-placeholder {
  left: 81px;
}
html body main .authorization .right #registration .input-container .confirm-password-input-container .confirm-password-input::-ms-reveal,
html body main .authorization .right #registration .input-container .confirm-password-input-container .confirm-password-input::-ms-clear {
  display: none;
}
html body main .authorization .right #registration .input-container .confirm-password-input-container .fake-placeholder {
  left: 141px;
}
html body main .authorization .right #registration .input-container .confirm-password-input-container .confirm-password-input {
  margin-bottom: 0rem;
}
html body main .authorization .right #registration .error-message {
  margin-top: 8px;
  font-size: 14px;
}
html body main .authorization .right #registration .error-message p {
  color: #ff4000;
}
html body main .authorization .right #registration .registration-button {
  width: 100%;
  height: 41px;
  padding: 10px 20px;
  margin-top: 46px;
  margin-bottom: 24px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ff4000;
}
html body main .authorization .right #registration .registration-button .registration-button-text {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
html body main .authorization .right #registration .registration-button:hover {
  cursor: pointer;
}
html body main .authorization .right #registration .rerouting {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .authorization .right #registration .rerouting span {
  font-size: 14px;
}
html body main .authorization .right #registration .rerouting .already-member {
  margin-right: 4px;
  font-weight: 400;
}
html body main .authorization .right #registration .rerouting .log-in-url {
  margin-left: 4px;
  font-weight: 500;
  color: #ff4000;
}
html body main .authorization .right #registration .rerouting .log-in-url {
  cursor: pointer;
}
html body main .product-page {
  width: 89.583%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
}
html body main .product-page .top {
  margin-bottom: 49px;
}
html body main .product-page .top span {
  color: #10151f;
  font-size: 14px;
  font-weight: 300;
}
html body main .product-page .top #listing:hover {
  cursor: pointer;
  text-decoration: underline;
}
html body main .product-page .bottom {
  display: flex;
}
html body main .product-page .bottom .left {
  display: flex;
}
html body main .product-page .bottom .left #pickable-pictures .img {
  width: 121px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80.665px 0px;
}
html body main .product-page .bottom .left #pickable-pictures .pickable-picture:hover {
  cursor: pointer;
}
html body main .product-page .bottom .left #displayed-picture {
  width: 703px;
  margin-left: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 468.5px 0px;
}
html body main .product-page .bottom .right {
  width: 50.6974909674%;
  position: relative;
}
html body main .product-page .bottom .right #information-box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80.7339449541%;
  display: flex;
  flex-direction: column;
}
html body main .product-page .bottom .right #information-box .product-name span {
  color: #10151f;
  font-size: 32px;
  font-weight: 600;
}
html body main .product-page .bottom .right #information-box .product-price {
  margin-top: 21px;
  margin-bottom: 56px;
}
html body main .product-page .bottom .right #information-box .product-price span {
  color: #10151f;
  font-size: 32px;
  font-weight: 600;
}
html body main .product-page .bottom .right #information-box .color-indicator span {
  color: #10151f;
  font-size: 16px;
  font-weight: 400;
}
html body main .product-page .bottom .right #information-box .pickable-colors {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;
}
html body main .product-page .bottom .right #information-box .pickable-colors div {
  display: flex;
  align-items: center;
  margin-left: 13px;
  border-radius: 50%;
}
html body main .product-page .bottom .right #information-box .pickable-colors div .pickable-color {
  padding: 19px;
  border-radius: 50%;
}
html body main .product-page .bottom .right #information-box .pickable-colors div:nth-child(1) {
  margin-left: 0px;
}
html body main .product-page .bottom .right #information-box .pickable-colors .border {
  border: 1px solid #e1dfe1;
}
html body main .product-page .bottom .right #information-box .pickable-colors .border .pickable-color {
  margin: 4px;
}
html body main .product-page .bottom .right #information-box .size-indicator span {
  color: #10151f;
  font-size: 16px;
  font-weight: 400;
}
html body main .product-page .bottom .right #information-box .pickable-sizes {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;
}
html body main .product-page .bottom .right #information-box .pickable-sizes .pickable-size {
  margin-left: 8px;
}
html body main .product-page .bottom .right #information-box .pickable-sizes .pickable-size button {
  width: 70px;
  padding: 9px 0px;
  border: 1px solid #e1dfe1;
  border-radius: 10px;
  background-color: white;
  outline: none;
}
html body main .product-page .bottom .right #information-box .pickable-sizes .pickable-size button span {
  color: #40444c;
  font-size: 16px;
  font-weight: 400;
}
html body main .product-page .bottom .right #information-box .pickable-sizes .pickable-size .button-active-class {
  cursor: pointer;
  background-color: #f8f6f7;
  border: 1px solid #10151f;
}
html body main .product-page .bottom .right #information-box .pickable-sizes .pickable-size .button-active-class span {
  color: #10151f;
}
html body main .product-page .bottom .right #information-box .pickable-sizes .pickable-size:nth-child(1) {
  margin-left: 0px;
}
html body main .product-page .bottom .right #information-box #quantity-indicator {
  color: #10151f;
  font-size: 16px;
  font-weight: 400;
}
html body main .product-page .bottom .right #information-box .number-of-product-container {
  width: fit-content;
  margin-top: 16px;
  margin-bottom: 56px;
}
html body main .product-page .bottom .right #information-box .number-of-product-container #number-of-product {
  padding: 9px 40px 9px 16px;
  border: 1px solid #e1dfe1;
  border-radius: 10px;
  background-color: white;
  color: #10151f;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./images/dropdownIcon.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: 14px;
  font-size: 16px;
  font-weight: 400;
}
html body main .product-page .bottom .right #information-box #add-to-cart {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ff4000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
}
html body main .product-page .bottom .right #information-box #add-to-cart #white-cart {
  padding: 3px 0px;
  padding-left: 2.25px;
  padding-right: 2.36px;
  margin-right: 10px;
}
html body main .product-page .bottom .right #information-box #add-to-cart #add-to-cart-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
html body main .product-page .bottom .right #information-box #add-to-cart:hover {
  cursor: pointer;
}
html body main .product-page .bottom .right #information-box #grey-horizontal-line {
  margin: 56px 0px;
}
html body main .product-page .bottom .right #information-box .details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body main .product-page .bottom .right #information-box .details-container .detail span {
  color: #10151f;
  font-size: 20px;
  font-weight: 500;
}
html body main .product-page .bottom .right #information-box .brand-container {
  display: flex;
  flex-direction: column;
}
html body main .product-page .bottom .right #information-box .brand-container .span {
  color: #10151f;
  font-size: 16px;
  font-weight: 400;
}
html body main .product-page .bottom .right #information-box .brand-container #brand-name {
  margin-top: 7px;
  margin-bottom: 19px;
}

/*# sourceMappingURL=style.css.map */
