$color_1: #ffff; // White
$color_2: #000000; // Black
$color_3: #f8f6f7; // Spring Wood Color
$color_4: #e1dfe1; // Lavender Pinocchio Color
$color_5: #10151f; // Cinder Color
$color_6: #3e424a; // Bright Grey Color
$color_7: #ff4000; // ArtyClick Warm Red
$color_8: #7a8086; // Medium Grey
$color_9: #C8B5FD; // Pale Violet Color
$color_10: #F3E7EB; // Dawn Pink Color
$color_11: #F3DCA7; // Marzipan Color
$color_12: #40444c; // Bright Grey Color