@import "../src/colors.scss";
@import url("https://fonts.cdnfonts.com/css/poppins");
@import "../src/mixins.scss";

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  body {
    position: relative;
    header {
      @include dF-jcSB-aiC-mA;
      width: 89.583%;
      height: 0;
      padding: 40px 0;
      .left,
      .right {
        @include dF-aiC;
        img {
          user-select: none;
        }
        img:hover {
          cursor: pointer;
        }
        span {
          user-select: none;
        }
        span:hover {
          cursor: pointer;
        }
      }
      .left {
        img {
          padding: 1.5px 3.75px;
          margin-right: 4px;
        }
        span {
          font-size: 16px;
          font-weight: 600;
        }
      }
      .right {
        #before-log-in {
          @include dF-jcSB-aiC;
          @include bN-oN;
          background: none;
          img {
            padding: 2px 0px;
            padding-left: 3.39px;
            padding-right: 3.38px;
            margin: 1px 0px;
            margin-right: 8px;
          }
          span {
            font-size: 12px;
            font-weight: 500;
          }
        }
        #before-log-in:hover {
          cursor: pointer;
        }
        #after-log-in {
          @include dN-jcC-aiC;
          #cart-symbol {
            padding: 2.25px 0px;
            padding-left: 1.5px;
            padding-right: 1.61px;
            margin-right: 20px;
          }
          #cart-symbol:hover {
            cursor: pointer;
          }
          .profile-picture-after-log-in {
            @include bpC-brNR;
            padding: 16px;
            border: 1px solid $color_4;
            border-radius: 50%;
            background-image: url("./images/cameraIcon.svg");
          }
          .profile-picture-after-log-in:hover {
            cursor: pointer;
          }
          .dropdownIcon {
            padding: 0px 5px;
            padding-top: 8px;
            padding-bottom: 6.25px;
            margin-left: 4px;
          }
          .dropdownIcon:hover {
            cursor: pointer;
          }
        }
      }
    }
    main {
      .indicators {
        @include dF-jcSB-aiC-mA;
        width: 89.583%;
        margin-top: 72px;
        margin-bottom: 6px;
        .left,
        .right {
          @include dF-aiC;
          img,
          span {
            user-select: none;
          }
        }
        .left {
          span {
            font-size: 42px;
            font-weight: 600;
          }
        }
        .right {
          .product-number-indicator {
            @include dF-jcC-aiC;
            margin: 3px 0px;
            span {
              font-size: 12px;
              font-weight: 400;
              margin: 2px 0px;
            }
          }
          .grey-vertical-line {
            margin: 5px 32px;
          }
          .grey-vertical-line:hover {
            cursor: none;
          }
          #filtering {
            @include dF-aiC;
            position: relative;
            .filter-icon {
              margin: 4.5px 3.75px;
            }
            .filter {
              margin-left: 8px;
              margin-right: 32px;
              font-size: 16px;
              font-weight: 400;
            }
            #price-filter {
              position: absolute;
              top: 32px;
              right: 16px;
              @include dN-fdC;
              padding: 16px;
              border: 1px solid $color_4;
              border-radius: 8px;
              background-color: $color_1;
              user-select: none;
              p {
                font-size: 16px;
                font-weight: 600;
              }
              .inputs {
                display: flex;
                margin-top: 20px;
                margin-bottom: 10px;
                .price-from-container,
                .price-to-container {
                  position: relative;
                  width: 50%;
                  display: flex;
                  input {
                    outline: none;
                    padding: 10.5px 12px;
                    border: 1px solid $color_4;
                    border-radius: 8px;
                  }
                  input::-webkit-outer-spin-button,
                  input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                  input::placeholder {
                    color: $color_6;
                    font-size: 14px;
                    font-weight: 400;
                  }
                  .fake-placeholder {
                    position: absolute;
                    top: 10.5px;
                    color: $color_7;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
                .price-from-container {
                  margin-right: 10px;
                  .fake-placeholder {
                    left: 52px;
                  }
                }
                .price-to-container {
                  .fake-placeholder {
                    left: 33px;
                  }
                }
              }
              .apply {
                @include dF-jcE-aiC;
                #apply-button {
                  @include bN-oN;
                  width: 34.4%;
                  padding: 10px 20px;
                  background-color: $color_7;
                  border-radius: 10px;
                  .apply-button-text {
                    color: $color_1;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
                #apply-button:hover {
                  cursor: pointer;
                }
              }
            }
            #price-filter:hover {
              cursor: auto;
            }
          }
          #sorting {
            @include dF-aiC;
            position: relative;
            .sorting-indicator {
              margin: 2px 0px;
              margin-right: 4px;
              font-size: 16px;
              font-weight: 400;
            }
            .dropdown-icon {
              margin: 0px 5px;
              margin-top: 10px;
              margin-bottom: 8.25px;
            }
            #sorting-filter {
              @include dN-fdC;
              position: absolute;
              top: 34px;
              right: -5px;
              width: 223px;
              padding: 16px;
              border: 1px solid $color_4;
              border-radius: 8px;
              background-color: $color_1;
              user-select: none;
              p {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
              }
              span {
                padding: 8px 0px;
              }
              p:hover,
              span:hover {
                cursor: pointer;
              }
            }
            #sorting-filter:hover {
              cursor: auto;
            }
          }
          #filtering:hover,
          #sorting:hover {
            cursor: pointer;
          }
        }
      }
      #chosen-filters {
        @include dF-aiC-mA;
        width: 89.583%;
        margin-top: 13px;
        .chosen-filter {
          @include dF-aiC;
          padding: 8px 0px;
          padding-left: 16px;
          padding-right: 10px;
          margin-left: 8px;
          border: 1px solid #e1dfe1;
          border-radius: 50px;
          .chosen-filter-text {
            margin-right: 6px;
            color: #3e424a;
            font-weight: 400;
            font-size: 14px;
          }
          .delete-sign {
            padding: 2.63px 2.62px;
          }
          .delete-sign:hover {
            cursor: pointer;
          }
        }
        .chosen-filter:nth-child(1) {
          margin-left: 0px;
        }
      }
      .products {
        width: 89.583%;
        display: grid;
        flex-wrap: wrap;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        gap: 48px 24px;
        margin: auto;
        margin-top: 26px;
        .product {
          @include dF-fdC;
          .top {
            @include bpC-brNR-bsC;
            border-radius: 10px;
            padding: 274.5px 206px;
          }
          .bottom {
            p {
              font-weight: 500;
            }
            .product-name {
              margin-top: 12px;
              font-size: 18px;
            }
            .price {
              font-size: 16px;
            }
          }
        }
        .product:hover {
          cursor: pointer;
        }
      }
      .pagination-container {
        @include dF-jcC-aiC-mA;
        width: 89.583%;
        margin-top: 90px;
        margin-bottom: 216px;
        .pagination {
          @include dF-aiC;
          img {
            padding: 10px;
          }
          #arrow-left {
            margin-right: 8px;
          }
          #arrow-right {
            margin-left: 8px;
          }
          span {
            @include dF-jcC-aiC;
            width: 32px;
            height: 32px;
            border: 1px solid $color_3;
            color: $color_8;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;
          }
          .page:nth-child(3) {
            margin: 0px 8px;
          }
          .page:nth-child(5) {
            margin: 0px 8px;
          }
          .active-page {
            border: 1px solid $color_7;
            color: $color_7;
          }
          img:hover,
          span:hover {
            cursor: pointer;
          }
        }
      }
      .authorization {
        display: flex;
        user-select: none;
        .left {
          @include bpC-brNR-bsC;
          width: 49.375%;
          padding: 500px 0px;
          background-image: url("./images/modelsWalking.svg");
        }
        .right {
          width: 50.625%;
          display: flex;
          #log-in {
            @include dF-fdC;
            width: 56.99588477366255%;
            margin: auto;
            margin-top: 241px;
            margin-left: 173px;
            margin-right: 245px;
            margin-bottom: 408px;
            .log-in-header {
              width: 100%;
              font-size: 42px;
              font-weight: 600;
              margin-bottom: 48px;
            }
            .input-container {
              .email-username-container,
              .password-container {
                position: relative;
                .fake-placeholder {
                  position: absolute;
                  top: 6.5px;
                  color: $color_7;
                }
                input {
                  width: 100%;
                  height: 42px;
                  padding: 0px 12px;
                  outline: none;
                  border: 0.1rem solid $color_4;
                  border-radius: 8px;
                  &::placeholder {
                    color: $color_6;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }
              .email-username-container {
                .fake-placeholder {
                  left: 148px;
                }
              }
              .password-container {
                margin-top: 24px;
                .fake-placeholder {
                  left: 83px;
                }
                .password {
                  padding-right: 44px;
                }
                .password::-ms-reveal,
                .password::-ms-clear {
                  display: none;
                }
                .eye-icon {
                  position: absolute;
                  padding: 3.75px 1.65px;
                  right: 12px;
                  top: 10px;
                }
                .eye-icon:hover {
                  cursor: pointer;
                }
              }
            }
            .error-message {
              margin-top: 8px;
              font-size: 14px;
              p {
                color: $color_7;
              }
            }
            .log-in-button {
              @include bN-oN;
              width: 100%;
              height: 41px;
              padding: 10px 20px;
              margin-top: 46px;
              margin-bottom: 24px;
              border-radius: 10px;
              background-color: $color_7;
              .log-in-button-text {
                color: $color_1;
                font-size: 14px;
                font-weight: 400;
              }
            }
            .log-in-button:hover {
              cursor: pointer;
            }
            .redirection {
              @include dF-jcC-aiC;
              width: 100%;
              span {
                font-size: 14px;
              }
              .not-member {
                margin-right: 4px;
                font-weight: 400;
              }
              .registration-url {
                margin-left: 4px;
                font-weight: 500;
                color: $color_7;
              }
              .registration-url {
                cursor: pointer;
              }
            }
          }
          #registration {
            @include dN-fdC;
            width: 56.99588477366255%;
            margin-top: 152px;
            margin-left: 173px;
            margin-right: 245px;
            margin-bottom: 219px;
            .registration-header {
              font-size: 42px;
              font-weight: 600;
            }
            .picture-container {
              margin-top: 48px;
              margin-bottom: 46px;
              .file-input-wrapper {
                @include dF-aiC;
                position: relative;
                #profile-picture {
                  @include bpC-brNR-bsC;
                  border-radius: 50%;
                  padding: 50px;
                  background-image: url("./images/camera.svg");
                }
                #file-input {
                  opacity: 0;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                .upload-new-image {
                  display: flex;
                  margin: 0px 15px;
                  font-size: 14px;
                }
                .remove-image {
                  font-size: 14px;
                }
                .upload-new-image,
                .remove-image {
                  cursor: pointer;
                }
              }
            }
            .input-container {
              @include dF-fdC;
              .username-input-container,
              .email-input-container,
              .password-input-container,
              .confirm-password-input-container {
                @include dF-aiC;
                position: relative;
                width: 100%;
                .fake-placeholder {
                  position: absolute;
                  top: 6.5px;
                  color: $color_7;
                }
                input {
                  width: 100%;
                  height: 42px;
                  padding: 0px 12px;
                  margin-bottom: 24px;
                  outline: none;
                  border: 1px solid $color_4;
                  border-radius: 8px;
                  &::placeholder {
                    color: $color_6;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }
              .username-input-container {
                .fake-placeholder {
                  left: 86px;
                }
              }
              .email-input-container {
                .fake-placeholder {
                  left: 52px;
                }
              }
              .password-input-container,
              .confirm-password-input-container {
                .password {
                  padding-right: 44px;
                }
                .eye-icon {
                  position: absolute;
                  padding: 3.75px 1.65px;
                  right: 12px;
                  top: 10px;
                }
                .eye-icon:hover {
                  cursor: pointer;
                }
              }
              .password-input-container {
                .password-input::-ms-reveal,
                .password-input::-ms-clear {
                  display: none;
                }
                .fake-placeholder {
                  left: 81px;
                }
              }
              .confirm-password-input-container {
                .confirm-password-input::-ms-reveal,
                .confirm-password-input::-ms-clear {
                  display: none;
                }
                .fake-placeholder {
                  left: 141px;
                }
                .confirm-password-input {
                  margin-bottom: 0rem;
                }
              }
            }
            .error-message {
              margin-top: 8px;
              font-size: 14px;
              p {
                color: $color_7;
              }
            }
            .registration-button {
              @include bN-oN;
              width: 100%;
              height: 41px;
              padding: 10px 20px;
              margin-top: 46px;
              margin-bottom: 24px;
              border-radius: 10px;
              background-color: $color_7;
              .registration-button-text {
                color: $color_1;
                font-size: 14px;
                font-weight: 400;
              }
            }
            .registration-button:hover {
              cursor: pointer;
            }
            .rerouting {
              @include dF-jcC-aiC;
              width: 100%;
              span {
                font-size: 14px;
              }
              .already-member {
                margin-right: 4px;
                font-weight: 400;
              }
              .log-in-url {
                margin-left: 4px;
                font-weight: 500;
                color: $color_7;
              }
              .log-in-url {
                cursor: pointer;
              }
            }
          }
        }
      }
      .product-page {
        @include dF-fdC;
        width: 89.583%;
        margin: auto;
        margin-top: 30px;
        .top {
          margin-bottom: 49px;
          span {
            color: $color_5;
            font-size: 14px;
            font-weight: 300;
          }
          #listing:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .bottom {
          display: flex;
          .left {
            display: flex;
            #pickable-pictures {
              .img {
                @include bpC-brNR-bsC;
                width: 121px;
                padding: 80.665px 0px;
              }
              .pickable-picture:hover {
                cursor: pointer;
              }
            }
            #displayed-picture {
              @include bpC-brNR-bsC;
              width: 703px;
              margin-left: 24px;
              padding: 468.5px 0px;
            }
          }
          .right {
            width: 50.69749096740825%;
            position: relative;
            #information-box {
              @include dF-fdC;
              position: absolute;
              top: 0px;
              right: 0px;
              width: 80.73394495412844%;
              .product-name {
                span {
                  color: $color_5;
                  font-size: 32px;
                  font-weight: 600;
                }
              }
              .product-price {
                margin-top: 21px;
                margin-bottom: 56px;
                span {
                  color: $color_5;
                  font-size: 32px;
                  font-weight: 600;
                }
              }
              .color-indicator {
                span {
                  color: $color_5;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
              .pickable-colors {
                @include dF-aiC;
                width: fit-content;
                margin-top: 16px;
                margin-bottom: 48px;
                div {
                  @include dF-aiC;
                  margin-left: 13px;
                  border-radius: 50%;
                  .pickable-color {
                    padding: 19px;
                    border-radius: 50%;
                  }
                }
                div:nth-child(1) {
                  margin-left: 0px;
                }
                .border {
                  border: 1px solid $color_4;
                  .pickable-color {
                    margin: 4px;
                  }
                }
              }
              .size-indicator {
                span {
                  color: $color_5;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
              .pickable-sizes {
                @include dF-aiC;
                margin-top: 16px;
                margin-bottom: 48px;
                .pickable-size {
                  margin-left: 8px;
                  button {
                    width: 70px;
                    padding: 9px 0px;
                    border: 1px solid $color_4;
                    border-radius: 10px;
                    background-color: $color_1;
                    outline: none;
                    span {
                      color: $color_12;
                      font-size: 16px;
                      font-weight: 400;
                    }
                  }
                  .button-active-class {
                    cursor: pointer;
                    background-color: $color_3;
                    border: 1px solid $color_5;
                    span {
                      color: $color_5;
                    }
                  }
                }
                .pickable-size:nth-child(1) {
                  margin-left: 0px;
                }
              }
              #quantity-indicator {
                color: $color_5;
                font-size: 16px;
                font-weight: 400;
              }
              .number-of-product-container {
                width: fit-content;
                margin-top: 16px;
                margin-bottom: 56px;
                #number-of-product {
                  padding: 9px 40px 9px 16px;
                  border: 1px solid $color_4;
                  border-radius: 10px;
                  background-color: $color_1;
                  color: $color_5;
                  font-size: 16px;
                  font-weight: 400;
                  outline: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  background-image: url("./images/dropdownIcon.svg");
                  background-repeat: no-repeat;
                  background-position: calc(100% - 16px) center;
                  background-size: 14px;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
              #add-to-cart {
                @include bN-oN;
                @include dF-jcC-aiC;
                border-radius: 10px;
                background-color: $color_7;
                padding: 16px 0px;
                #white-cart {
                  padding: 3px 0px;
                  padding-left: 2.25px;
                  padding-right: 2.36px;
                  margin-right: 10px;
                }
                #add-to-cart-text {
                  color: $color_1;
                  font-size: 18px;
                  font-weight: 500;
                }
              }
              #add-to-cart:hover {
                cursor: pointer;
              }
              #grey-horizontal-line {
                margin: 56px 0px;
              }
              .details-container {
                @include dF-jcSB-aiC;
                .detail {
                  span {
                    color: $color_5;
                    font-size: 20px;
                    font-weight: 500;
                  }
                }
              }
              .brand-container {
                @include dF-fdC;
                .span {
                  color: $color_5;
                  font-size: 16px;
                  font-weight: 400;
                }
                #brand-name {
                  margin-top: 7px;
                  margin-bottom: 19px;
                }
              }
            }
          }
        }
      }
      .checkout-container {
        @include dF-fdF-jcSB-aiC-mA;
        width: 89.583%;
        margin-top: 72px;
        margin-bottom: 188px;
        user-select: none;
        .top {
          width: 100%;
          margin-bottom: 42px;
          span {
            color: $color_5;
            font-size: 42px;
            font-weight: 600;
          }
        }
        .bottom {
          @include dF-jcSB;
          width: 100%;
          align-items: stretch;
          .left {
            width: 65.63953488372093%;
            background-color: $color_3;
            border-radius: 16px;
            .form-top {
              margin-left: 47px;
              margin-top: 72px;
              margin-bottom: 46px;
              span {
                color: $color_5;
                font-size: 22px;
                font-weight: 500;
              }
            }
            .form-bottom {
              margin-left: 47px;
              margin-bottom: 292px;
              form {
                width: 51.19574844995571%;
                .fullname,
                .email,
                .address {
                  @include dF-jcSB-aiC;
                  width: 100%;
                  input {
                    height: 42px;
                    padding: 0px 12px;
                    outline: none;
                    border: 1px solid $color_4;
                    border-radius: 8px;
                  }
                  input::placeholder {
                    color: $color_5;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
                .fullname,
                .address {
                  input {
                    width: 47.92387543252595%;
                  }
                }
                .email {
                  position: relative;
                  margin: 33px 0px;
                  img {
                    position: absolute;
                    left: 8.88px;
                    padding: 3.75px 1.88px;
                  }
                  input {
                    width: 100%;
                    padding-left: 36px;
                  }
                }
              }
            }
          }
          .right {
            display: flex;
            width: 26.74418604651163%;
            .info-container {
              width: 100%;
              .shopping-cart-container {
                width: 100%;
                .chosen-products {
                  height: 340px;
                  overflow-y: auto;
                  .chosen-product {
                    @include dF-jcSB-aiC;
                    margin-top: 36px;
                    .left-c {
                      @include bpC-brNR-bsC;
                      width: 21.73913043478261%;
                      padding: 67px 0px;
                      background-image: url("./images/Rectangle.svg");
                      border: 1px solid $color_4;
                      border-radius: 10px;
                    }
                    .right-c {
                      width: 74.56521739130435%;
                      .name-price {
                        @include dF-jcSB-aiC;
                        span {
                          color: $color_5;
                          font-weight: 500;
                        }
                        #name-of-chosen-product {
                          font-size: 14px;
                        }
                        #price-of-chosen-product {
                          font-size: 18px;
                        }
                      }
                      p {
                        color: $color_6;
                        font-size: 12px;
                        font-weight: 400;
                      }
                      #color-of-chosen-product {
                        margin: 8px 0px;
                      }
                      .increase-remove {
                        @include dF-jcSB-aiC;
                        width: 100%;
                        margin-top: 13px;
                        .flactuation {
                          @include dF-jcSB-aiC;
                          width: 20.40816326530612%;
                          padding: 4px 8px;
                          border: 1px solid $color_4;
                          border-radius: 22px;
                          #minus-sign {
                            width: 22.85714285714286%;
                          }
                          #number-of-chosen-products {
                            @include bN-oN;
                            width: 25.71428571428571%;
                            color: $color_5;
                            font-size: 12px;
                            font-weight: 400;
                            text-align: center;
                          }
                          #number-of-chosen-products::-webkit-inner-spin-button,
                          #number-of-chosen-products::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                          }
                          #plus-sign {
                            width: 22.85714285714286%;
                          }
                        }
                        #removal {
                          color: $color_6;
                          font-size: 12px;
                          font-weight: 400;
                        }
                      }
                    }
                  }
                  .chosen-product:nth-child(1) {
                    margin-top: 0px;
                  }
                }
                .totals {
                  margin: 81px 0px;
                  .suptotal,
                  .delivery,
                  .total {
                    @include dF-jcSB-aiC;
                  }
                  .suptotal,
                  .delivery {
                    span {
                      color: $color_6;
                      font-size: 16px;
                      font-weight: 400;
                    }
                  }
                  .delivery {
                    margin: 16px 0px;
                  }
                  .total {
                    span {
                      color: $color_5;
                      font-size: 20px;
                      font-weight: 500;
                    }
                  }
                }
              }
              #error-text {
                color: $color_7;
                margin-bottom: 8px;
              }
              #checkout-button {
                @include bN-oN;
                width: 100%;
                padding: 16px 0px;
                border-radius: 10px;
                background-color: $color_7;
                span {
                  color: $color_1;
                  font-size: 18px;
                  font-weight: 500;
                }
              }
              #checkout-button:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      #congratulations-container {
        @include dN-jcC-aiC;
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba($color_5, 0.3);
        user-select: none;
        .congratulations-box {
          @include dF-fdF-jcC-aiC-mA;
          position: relative;
          width: 45.625%;
          background-color: $color_1;
          #deleteXSign {
            position: absolute;
            top: 30px;
            right: 30px;
            padding: 10px;
          }
          #deleteXSign:hover {
            cursor: pointer;
          }
          .c-container {
            @include dF-fdF-jcC-aiC-mA;
            width: 30%;
            margin: 0px 322px;
            margin-top: 114px;
            margin-bottom: 74px;
            #congrats-text {
              margin-top: 40px;
              margin-bottom: 16px;
              color: $color_5;
              font-size: 42px;
              font-weight: 600;
            }
            #placed-order {
              color: $color_6;
              font-size: 14px;
              font-weight: 400;
            }
          }
          #continue-shopping {
            @include bN-oN;
            width: 24.42922374%;
            height: 41px;
            background-color: $color_7;
            border-radius: 10px;
            margin-bottom: 145px;
            span {
              color: $color_1;
              font-size: 14px;
              font-weight: 400;
            }
          }
          #continue-shopping:hover {
            cursor: pointer;
          }
        }
      }
      .card-container {
        @include dN-jcE;
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba($color_5, 0.3);
        .vertical-shopping-container {
          width: 28.125%;
          min-height: 100%;
          background-color: $color_1;
          padding: 0px 40px;
          padding-top: 41px;
          padding-bottom: 40px;
          img:hover {
            cursor: pointer;
          }
          .top {
            @include dF-jcSB-aiC;
            span {
              color: $color_5;
              font-size: 20px;
              font-weight: 500;
            }
          }
          .bottom {
            .shopping-cart-container {
              @include dF-fdC;
              width: 100%;
              margin-top: 63px;
              .chosen-products {
                height: 595px;
                overflow: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
                margin-bottom: 48px;
                .chosen-product {
                  @include dF-jcSB-aiC;
                  margin-top: 36px;
                  .left-c {
                    @include bpC-brNR-bsC;
                    width: 21.73913043478261%;
                    padding: 67px 0px;
                    border: 1px solid $color_4;
                    border-radius: 10px;
                  }
                  .right-c {
                    width: 74.56521739130435%;
                    .name-price {
                      @include dF-jcSB-aiC;
                      span {
                        color: $color_5;
                        font-weight: 500;
                      }
                      #name-of-chosen-product {
                        font-size: 14px;
                      }
                      #price-of-chosen-product {
                        font-size: 18px;
                      }
                    }
                    p {
                      color: $color_6;
                      font-size: 12px;
                      font-weight: 400;
                    }
                    #color-of-chosen-product {
                      margin: 8px 0px;
                    }
                    .increase-remove {
                      @include dF-jcSB-aiC;
                      width: 100%;
                      margin-top: 13px;
                      .flactuation {
                        @include dF-jcSB-aiC;
                        width: 20.40816326530612%;
                        padding: 4px 8px;
                        border: 1px solid $color_4;
                        border-radius: 22px;
                        #minus-sign {
                          width: 22.85714285714286%;
                        }
                        #number-of-chosen-products {
                          @include bN-oN;
                          width: 25.71428571428571%;
                          color: $color_5;
                          font-size: 12px;
                          font-weight: 400;
                          text-align: center;
                        }
                        #number-of-chosen-products::-webkit-inner-spin-button,
                        #number-of-chosen-products::-webkit-outer-spin-button {
                          -webkit-appearance: none;
                          margin: 0;
                        }
                        #plus-sign {
                          width: 22.85714285714286%;
                        }
                      }
                      #removal {
                        color: $color_6;
                        font-size: 12px;
                        font-weight: 400;
                      }
                    }
                  }
                }
                .chosen-product:nth-child(1) {
                  margin-top: 0px;
                }
              }
              .chosen-products::-webkit-scrollbar {
                display: none;
              }
              .totals {
                margin-bottom: 102px;
                .suptotal,
                .delivery,
                .total {
                  @include dF-jcSB-aiC;
                }
                .suptotal,
                .delivery {
                  span {
                    color: $color_6;
                    font-size: 16px;
                    font-weight: 400;
                  }
                }
                .delivery {
                  margin: 16px 0px;
                }
                .total {
                  span {
                    color: $color_5;
                    font-size: 20px;
                    font-weight: 500;
                  }
                }
              }
            }
            #checkout-redirection-button {
              @include bN-oN;
              width: 100%;
              padding: 16px 0px;
              border-radius: 10px;
              background-color: $color_7;
              span {
                color: $color_1;
                font-size: 18px;
                font-weight: 500;
              }
            }
            .empty-cart-container {
              @include dF-fdF-jcC-aiC-mA;
              width: 100%;
              margin-top: 151px;
              user-select: none;
              .ooops-container {
                @include dF-fdC;
                width: 100%;
                align-items: center;
                .ooops-text {
                  color: $color_5;
                  font-size: 24px;
                  font-weight: 600;
                  margin-top: 24px;
                  margin-bottom: 10px;
                }
                .nothing-yet-box {
                  color: $color_6;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
            .start-shopping-button {
              @include bN-oN;
              width: 39.629%;
              padding: 10px 0px;
              margin-top: 56px;
              border-radius: 10px;
              background-color: $color_7;
              span {
                color: $color_1;
                font-size: 14px;
                font-weight: 400;
              }
            }
            .start-shopping-button {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}